<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Play Video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B4305F91BE9A87D005492C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B43060D1BE9A87D005492C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B4306181BE9A87D005492C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
